.banner {
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.banner > div {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  max-width: 1048px;
  padding: 24px;
}

@media (max-width: 768px) {
  .banner > div {
    margin-top: 44px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
