.banner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: calc(100vh - 68px);
  position: relative;
}

.banner > div {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1048px;
  padding: 24px;
  width: 100%;
}

@media (max-width: 400px) {
  .banner > div {
    gap: 24px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
