.social {
  display: flex;
  gap: 12px;
}

.social svg {
  fill: transparent;
  height: 32px;
  transition: 0.2s ease-out;
}

.social[data-show='true'] svg {
  fill: #111;
}

.social svg:hover {
  fill: rgb(240, 144, 69);
}
