.a {
  display: flex;
}

.button {
  background: #303341;
  border: none;
  border-radius: 8px;
  color: #fff;
  flex: 1;
  font-weight: bold;
  padding: 16px;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.button[data-hide='true'] {
  cursor: default;
  opacity: 0;
}

.button:hover {
  background: #6e768d;
}

.button svg {
  fill: #fff;
  height: 24px;
}
