.welcome {
  background: #fff;
  display: flex;
  flex: 1;
  position: fixed;
  transition: 0.3s ease-out;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.welcome h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  position: absolute;
  top: 45%;
  left: 10%;
}

.welcome h1[data-hide-cursor='false']::after {
  content: '_';
}

.welcome h1[data-hide-cursor='true']::after {
  color: transparent;
}

.welcome[data-end='true'] {
  opacity: 0;
  z-index: -1;
}
