.headshot {
  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 300px;
}

.headshot img {
  border-radius: 50%;
  opacity: 0;
  transition: 1s ease-out;
}

.headshot[data-show='true'] img {
  opacity: 1;
}
