.arrow-down {
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 0.2s ease-out;
  left: 0;
  right: 0;
  bottom: 4px;
}

.arrow-down[data-hide-arrow='true'] {
  opacity: 0;
}

.arrow-down > div {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.2s ease-out;
}

.arrow-down[data-hide-arrow='false'] > div:hover {
  background: #111;
  fill: #fff;
  cursor: pointer;
}
